.paragraph{
    text-align: center;
}
.paragraph-solving{
    font-size: medium;
    letter-spacing: 2px;
    line-height: 28.18px;
    color: #9C9C9C;
}
.header-color{
    width: 72px;
    height: 24px;
    background-color:#FFF6E9;
    border-radius: 30px;
    text-align: center;
    color: orange;
    padding: 5px 0px 0px 0px;
    
}
.fintech-header{
display: flex;
justify-content: center;
gap: 30px;
}
.fintech-para {
    font-size: medium;
    letter-spacing: 2px;
    line-height: 28.19px;
    color: #9C9C9C;
}
.image-ui{
    border-radius: 6px;
    width: 480px;
    height: auto;
}
.button-background{
    width: 189px;
    height: 38px;
    color: #FFF;
    background-color: orange;
    padding: 10px,24px,10px,24px;
    border-radius: 5px;

}
.header-color-Edtech{
    width: 72px;
    height: 24px;
    color:#000Aff;
    border-radius: 30px;
    text-align: center;
    background-color: skyblue;
    padding: 5px 0px 0px 0px;
}
.EdTechpara{
    font-size: medium;
    letter-spacing: 2px;
    line-height: 28.19px;
    color: #9C9C9C;
}

.button-background-EdTech{
    width: 189px;
    height: 38px;
    color: #FFF;
    background-color: #000AFF;
    padding: 10px,24px,10px,24px;
    border-radius: 5px;

}
.header-color-pharme{
    width: 72px;
    height: 24px;
    color: #2AB090;
    border-radius: 30px;
    text-align: center;
    background-color: #E0FFF8;
    padding: 5px 0px 0px 0px;

}
.button-background-Pharme{
    width: 189px;
    height: 38px;
    color: #FFF;
    background-color: #2AB090;
    padding: 10px,24px,10px,24px;
    border-radius: 5px;
}
